<div class="container">
    <div class="row">
        <div class="col-md-6 mt-5">
            <%#= attachment_image_tag @item, :cocktail_image, fallback: "no_image.png" %>
            <%= attachment_image_tag @item, :cocktail_image, fallback: "no_image.png", size:'450x550'  %>
        </div>

        <div class="col-md-6 mt-5">
            <h3>カクテル名:<%= @item.cocktail_name %></h3><br>
            <h3>度数:<%= @item.alcohol_content %></h3><br>
            <h3>味:<%= @item.cocktail_name %></h3><br>
            <h3>色:<%= @item.cocktail_color %></h3><br>
            <h3>製法:<%= @item.manufacturing_method %></h3><br>
            <h3><%= @item.favorites.count %>いいね</h3><br>
            <%= link_to '編集', edit_admin_item_path(@item), class:"btn btn-primary" %>
            <%= link_to '削除', admin_stop_path(@item), method: :put, class:"btn btn-danger" %>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <h3>材料</h3>
                <table class="table fix-table">
                    <% @item.materials.each do |material| %>
                        <tr>
                            <td class="admin-item-show-td">
                            <td><%= material.material %></td>
                        </tr>
                    <% end %>
                </table>
        </div>

        <div class="col-md-5">
            <h3>作り方</h3>
                <table class="table fix-table">
                    <% @item.howtomakes.each do |howtomake| %>
                        <tr>
                            <td class="admin-item-show-td">
                            <td><%= howtomake.howtomake %></td>
                        </tr>
                    <% end %>
                </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <h3>カクテル説明</h3>
                <table class="table fix-table">
                <%= @item.cocktail_introduction %>
                </table>
        </div>
    </div>
</div>