<div class="col-md-3 category-padding">
    <%= render 'layouts/category', categories: @categories %>
</div>

<%# <% @items.each do |item| %>
<%#= item.cocktail_name %>
<%# end %>

<div class="row">
    <div class="col-md-offset-2 col-md-4">
        <h4><small>カクテル名</small> <%= @item.cocktail_name %></h4>
    </div>

    <div class="col-md-4">
        <%= attachment_image_tag @item, :cocktail_image, fallback: "no_image.jpg", size:'300x300'  %>
    </div>

    <div class="col-md-2">
        <div>
            <%= link_to '編集', edit_admin_item_path, class:"btn btn-primary" %>
            <%= link_to '削除', admin_stop_path(@item), method: :put, class:"btn btn-primary" %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3>材料</h3>
            <table class="table fix-table">
                <% @item.materials.each do |material| %>
                    <tr>
                        <td class="admin-item-show-td">
                        <td><%= material.material %></td>
                    </tr>
                <% end %>
            </table>
    </div>
</div>

