<div class="row background-category <%= @category %>">
    <div class="col-md-2">
    <%= render 'layouts/category', roll: 'users'%>
    </div>

    <div class="col-md-10">
    <h1><%= Category.find(params[:category_id])[:category_name] %>ベース一覧</h1>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <% @category.each do |category_item| %>
                        <div class="col-md-4">
                            <%= attachment_image_tag category_item, :cocktail_image, fallback: "no_image.png", size:'200x250'  %> <br>
                            <p class="category-font"><%= category_item.cocktail_name%></p> <p class="category-font2"><%= link_to ">>レシピを見る", item_path(category_item.id) %></p>
                        </div>
                <% end %>
            </div>
        </div>
    </div>
  <%= paginate @category %>
</div>