<div class="category-box">
    <div class="category-logo">
        <span class="logo-text">Cotegory</span>
    </div>
    <div class="category-group">
        <p class="category"><%= link_to "Beer", categoryr_path("Beer"), class:"category-link" %></p><br>
        <p class="category"><%= link_to "Wine", categoryr_path("Wine"), class:"category-link" %></p><br>
        <p class="category"><%= link_to "Gin", categoryr_path("Gin"), class:"category-link" %></p><br>
        <p class="category"><%= link_to "Vodka", categoryr_path("Vodka"), class:"category-link" %></p><br>
        <p class="category"><%= link_to "Rum", categoryr_path("Rum"), class:"category-link" %></p><br>
        <p class="category"><%= link_to "Tequila", categoryr_path("Tequila"), class:"category-link" %></p><br>
        <p class="category"><%= link_to "Wisky", categoryr_path("Wisky"), class:"category-link" %></p><br>
        <p class="category"><%= link_to "Jananese", categoryr_path("Jananese"), class:"category-link" %></p><br>
        <p class="category"><%= link_to "Liqueur", categoryr_path("Liqueur"), class:"category-link" %></p><br>
        <p class="category"><%= link_to "other", categoryr_path("other"), class:"category-link" %></p><br>
    </div>
</div>


